version: '3.8'

services:
  # Serviço de Banco de Dados (MySQL)
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: 123
      MYSQL_DATABASE: hospital_db
    ports:
      - "3307:3306"
    volumes:
      # Isso pega seu script SD.sql e roda na primeira vez que o banco subir
      - ./database/SD.sql:/docker-entrypoint-initdb.d/init.sql

  # RabbitMQ (Para notificações - já deixamos pronto)
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
